In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import classification_report
from sklearn import preprocessing
from sklearn import metrics

import warnings
warnings.filterwarnings('ignore')

In [2]:
cd = pd.read_csv("Company_Data.csv")

In [3]:
cd

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [4]:
label_encoder = preprocessing.LabelEncoder()
cd['ShelveLoc'] = label_encoder.fit_transform(cd['ShelveLoc'])
cd['Urban'] = label_encoder.fit_transform(cd['Urban'])
cd['US'] = label_encoder.fit_transform(cd['US'])

In [5]:
cd.head(5)

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,0,42,17,1,1
1,11.22,111,48,16,260,83,1,65,10,1,1
2,10.06,113,35,10,269,80,2,59,12,1,1
3,7.40,117,100,4,466,97,2,55,14,1,1
4,4.15,141,64,3,340,128,0,38,13,1,0

In [6]:
x = cd.iloc[:,1:]
y = cd['Sales']
print(y.min())
print(y.max())

0.0
16.27

In [7]:
cd.insert(11,"sales_cat",'')

In [8]:
cd

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,sales_cat
0,9.50,138,73,11,276,120,0,42,17,1,1,
1,11.22,111,48,16,260,83,1,65,10,1,1,
2,10.06,113,35,10,269,80,2,59,12,1,1,
3,7.40,117,100,4,466,97,2,55,14,1,1,
4,4.15,141,64,3,340,128,0,38,13,1,0,
...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,1,33,14,1,1,
396,6.14,139,23,3,37,120,2,55,11,0,1,
397,7.41,162,26,12,368,159,2,40,18,1,1,
398,5.94,100,79,7,284,95,0,50,12,1,1,
399,9.71,134,37,0,27,120,1,49,16,1,1,

In [9]:
for i in range (0,len(cd['Sales'])):
    if cd['Sales'][i]>=0 and cd['Sales'][i]<=6:
        cd['sales_cat'][i]='low'
    elif cd['Sales'][i]> 6 and cd['Sales'][i]<=9:
        cd['sales_cat'][i]='medium'
    elif cd['Sales'][i]> 9:
        cd['sales_cat'][i]='high'

In [10]:
cd

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,sales_cat
0,9.50,138,73,11,276,120,0,42,17,1,1,high
1,11.22,111,48,16,260,83,1,65,10,1,1,high
2,10.06,113,35,10,269,80,2,59,12,1,1,high
3,7.40,117,100,4,466,97,2,55,14,1,1,medium
4,4.15,141,64,3,340,128,0,38,13,1,0,low
...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,1,33,14,1,1,high
396,6.14,139,23,3,37,120,2,55,11,0,1,medium
397,7.41,162,26,12,368,159,2,40,18,1,1,medium
398,5.94,100,79,7,284,95,0,50,12,1,1,low
399,9.71,134,37,0,27,120,1,49,16,1,1,high

In [11]:
cd.sales_cat.value_counts()

medium    157
low       130
high      113
Name: sales_cat, dtype: int64

In [12]:
label_encoder = preprocessing.LabelEncoder()
cd['sales_cat']= label_encoder.fit_transform(cd['sales_cat'])

In [13]:
cd

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,sales_cat
0,9.50,138,73,11,276,120,0,42,17,1,1,0
1,11.22,111,48,16,260,83,1,65,10,1,1,0
2,10.06,113,35,10,269,80,2,59,12,1,1,0
3,7.40,117,100,4,466,97,2,55,14,1,1,2
4,4.15,141,64,3,340,128,0,38,13,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,1,33,14,1,1,0
396,6.14,139,23,3,37,120,2,55,11,0,1,2
397,7.41,162,26,12,368,159,2,40,18,1,1,2
398,5.94,100,79,7,284,95,0,50,12,1,1,1
399,9.71,134,37,0,27,120,1,49,16,1,1,0

In [14]:
cd['sales_cat'].unique()

array([0, 2, 1])

In [15]:
cd.sales_cat.value_counts()

2    157
1    130
0    113
Name: sales_cat, dtype: int64

In [16]:
x = cd.iloc[:, 1:-1]
y = cd.iloc[:,-1]
y

0      0
1      0
2      0
3      2
4      1
      ..
395    0
396    2
397    2
398    1
399    0
Name: sales_cat, Length: 400, dtype: int32

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=2)

In [18]:
y_train

276    2
251    1
29     2
109    2
244    2
      ..
299    0
22     1
72     1
15     2
168    2
Name: sales_cat, Length: 300, dtype: int32

# Building Decision Tree classifier using Gini Criteria

In [19]:
model = DecisionTreeClassifier(criterion='gini', min_samples_split=5,max_depth=10)

In [20]:
#checking accuracy training data
model.fit(x_train,y_train)
pred = model.predict(x_train)
pd.Series(pred).value_counts()

2    124
1     94
0     82
dtype: int64

In [21]:
from sklearn import metrics
metrics.accuracy_score(pred,y_train)

0.9466666666666667

In [22]:
#checking accuracy for testing data
model.fit(x_train,y_train)
pred = model.predict(x_test)
pd.Series(pred).value_counts()

2    40
0    32
1    28
dtype: int64

In [23]:
from sklearn import metrics
metrics.accuracy_score(pred,y_test)

0.64

# Building Decision Tree Classifier(CART) using Entropy Criteria

In [24]:
model = DecisionTreeClassifier(criterion='entropy',min_samples_split=5)

In [27]:
model.fit(x_train,y_train)
pred = model.predict(x_test)
metrics.accuracy_score(pred,y_test)

0.71

In [28]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.67      0.64      0.65        25
           1       0.77      0.77      0.77        30
           2       0.70      0.71      0.70        45

    accuracy                           0.71       100
   macro avg       0.71      0.71      0.71       100
weighted avg       0.71      0.71      0.71       100

In [25]:
#Bagging

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=2)

num_trees = 100
model = BaggingClassifier(max_samples=0.8, n_estimators=num_trees,random_state=8)

model.fit(x_train,y_train)
pred = model.predict(x_test)
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.68      0.70      0.69        33
           1       0.81      0.71      0.75        41
           2       0.58      0.63      0.60        46

    accuracy                           0.68       120
   macro avg       0.69      0.68      0.68       120
weighted avg       0.68      0.68      0.68       120

In [26]:
# Random Forest Classification

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=7)

num_trees = 140
max_features = 6

model = RandomForestClassifier(n_estimators=num_trees,max_samples=0.8, max_features=max_features, random_state = 8)

model.fit(x_train,y_train)

pred = model.predict(x_test)

print(classification_report(y_test,pred))

results = cross_val_score(model, x_train, y_train, cv=10)
print(results)
print(results.mean())

              precision    recall  f1-score   support

           0       0.67      0.64      0.65        25
           1       0.77      0.77      0.77        30
           2       0.70      0.71      0.70        45

    accuracy                           0.71       100
   macro avg       0.71      0.71      0.71       100
weighted avg       0.71      0.71      0.71       100

[0.6        0.56666667 0.7        0.76666667 0.73333333 0.6
 0.73333333 0.7        0.63333333 0.33333333]
0.6366666666666666